@using BurgerShopProject.Entities;
@using Microsoft.AspNetCore.Identity;
@inject SignInManager<AppUser> SignInManager
@inject UserManager<AppUser> UserManager
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Burger Restaurant</title>
    <link rel="shortcut icon" href="~/images/burger.png" type="image/x-icon">
    <!-- google fonts -->
    <link href="https://fonts.googleapis.com/css2?family=Raleway:wght@100;300;400;500;600&amp;display=swap"
          rel="stylesheet" />
    <!-- aos plugin -->
    <link href="~/css/aos.css" rel="stylesheet">
    <!-- fontawesome -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="~/css/all.min.css" />
    <link rel="stylesheet" href="~/css/bootstrap.min.css" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.1.3/js/bootstrap.min.js" integrity="sha512-OvBgP9A2JBgiRad/mM36mkzXSXaJE9BEIENnVEmeZdITvwT09xnxLtT4twkCa8m/loMbPHsvPl0T8lRGVBwjlQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <link rel="stylesheet" href="~/css/style.css" />
</head>
<body>
    <!-- start header -->


    <header>
        <nav class="navbar fixed-top navbar-expand-sm navbar-dark bg-dark">
            <div class="container-fluid">
                <a class="navbar-brand" href="~/Home/Index/#home"><img src="~/images/logo.png" /></a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#mynavbar">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="mynavbar">
                    <ul class="navbar-nav me-auto gap-5">
                        <li class="nav-item">
                            <a class="nav-link" href="~/Home/Index/#home" style="color:white; font-size:larger" onclick="scrollToSection('home')">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="~/Home/Index/#menu" style="color:white; font-size:larger">Menu</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="~/Home/Index/#extra" style="color:white; font-size:larger" onclick="scrollToSection('extra')">Extras</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" asp-controller="Home" asp-action="AboutUs" style="color:white; font-size:larger">About Us</a>
                        </li>
                    </ul>
                    <div class="d-flex gap-3 align-items-center">
                        <a asp-area="" asp-controller="Orders" asp-action="Cart" class="text-white" style="color:white; font-size:larger"><i class="fas fa-shopping-cart icons"></i></a>
                        @*@ViewData["CartItemsCount"]*@
                        @if (SignInManager.IsSignedIn(User))
                        {
                            <a class="text-white" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage" style="color:white; font-size:larger">User</a>
                            <form class="d-inline" asp-area="Identity" asp-controller="Account" asp-action="Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
                                <button type="submit" class="btn text-white" style="color:white; font-size:larger">Logout</button>
                            </form>
                            @if (User.IsInRole("Admin"))
                            {
                                <a class="text-white" asp-area="Admin" asp-controller="Dashboard" asp-action="Index" style="color:white; font-size:larger">Yönetim</a>
                            }
                        }
                        else
                        {
                            <a class="text-white" asp-area="Identity" asp-page="/Account/Register" style="color:white; font-size:larger">Register</a>
                            <a class="text-white" asp-area="Identity" asp-page="/Account/Login" style="color:white; font-size:larger">Login</a>
                        }
                    </div>
                </div>
            </div>
        </nav>
    </header>


    <section>
        @RenderBody()
    </section>
    <!-- start footer -->
    <footer class="mt-5 py-2">
        <div class="container">

            <p class="copyright">Made By GSYB</p>
        </div>
    </footer>
    <script src="~/js/aos.js"></script>
    <script src="~/js/main.js"></script>
    @await RenderSectionAsync("Scripts", false)

</body>
</html>
