/* global styles */
* {
    font-family: "Raleway", sans-serif;
    padding: 0;
    margin: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-transition: all 0.2s linear;
    -o-transition: all 0.2s linear;
    transition: all 0.2s linear;
    outline: none;
    text-decoration: none !important;
    border: none;
}

:root {
    scroll-padding-top: 3rem;
    scroll-behavior: smooth;
    --main-color: #eacf4f;
    --paragraph-color: #aaa;
    --border-color: rgba(255, 255, 255, 0.3);
}

/* scrollbar style*/
::-webkit-scrollbar {
    width: 0.7rem;
}

::-webkit-scrollbar-track {
    background-color: #000;
}

::-webkit-scrollbar-thumb {
    background: var(--main-color);
    border-radius: 5px;
}

body {
    background-image: url(../images/background.jpg);
    background-position: center;
    background-attachment: fixed;
    overflow-x: hidden;
}

section {
    padding: 3rem 0;
}

.custom-btn {
    border: 2px solid var(--border-color);
    background: none;
    color: #fff;
    padding: 0.5rem 1.7rem;
    cursor: pointer;
    display: inline-block;
    text-transform: capitalize;
}

    .custom-btn:hover {
        background-color: #fff;
        color: #000;
    }

/* start header */

/* start home */
.home {
    background-image: url(../images/home-bg.png);
    background-position: center;
}

    .home .content {
        max-width: 65%;
        margin: auto;
    }

    .home img {
        width: 100%;
    }

    .home h1 {
        color: #fff;
        font-size: 2.4rem;
        font-weight: 600;
        text-transform: uppercase;
        margin-bottom: 1rem;
    }

    .home p {
        color: var(--paragraph-color);
        padding: 1rem;
        line-height: 2;
    }
/* start services section */

.services i {
    background-color: var(--main-color);
    padding: 1.3rem;
    border-radius: 50%;
    font-size: 1.7rem;
    color: #000;
}

.services h3 {
    padding: 1rem 0;
    font-size: 1.2rem;
    text-transform: uppercase;
    color: #fff;
    font-weight: 600;
    margin: 0;
}

.services p {
    color: var(--paragraph-color);
    line-height: 2;
}
/* start menu section */
.menu h2 {
    color: #fff;
    text-transform: uppercase;
    margin-top: 1rem;
    font-weight: 600;
}

.menu .box:hover img {
    -webkit-transform: translateY(0.7rem);
    -ms-transform: translateY(0.7rem);
    transform: translateY(0.7rem);
}

.menu .box img {
    width: 70%;
}

.menu .box .stars {
    margin-bottom: 1rem;
}

    .menu .box .stars i {
        color: var(--main-color);
    }

.menu h3 {
    font-size: 1.2rem;
    text-transform: uppercase;
    color: #fff;
    font-weight: 600;
    margin-bottom: 0.5rem;
}

.menu span {
    display: inline-block;
    margin-bottom: 1rem;
    color: var(--paragraph-color);
    font-size: 1.3rem;
}

/* start extras section */
.extra h2 {
    color: #fff;
    text-transform: uppercase;
    margin-top: 1rem;
    font-weight: 600;
}

.extra .box:hover img {
    -webkit-transform: translateY(0.7rem);
    -ms-transform: translateY(0.7rem);
    transform: translateY(0.7rem);
}

.extra .box img {
    width: 70%;
}

.extra .box .stars {
    margin-bottom: 1rem;
}

    .extra .box .stars i {
        color: var(--main-color);
    }

.extra h3 {
    font-size: 1.2rem;
    text-transform: uppercase;
    color: #fff;
    font-weight: 600;
    margin-bottom: 0.5rem;
}

.extra span {
    display: inline-block;
    margin-bottom: 1rem;
    color: var(--paragraph-color);
    font-size: 1.3rem;
}

/* start about section */

/* start reviews section */

/* start contact section */

/* start blogs section */


/* start footer */
footer {
    text-align: center;
    background: -webkit-gradient( linear, left top, left bottom, from(transparent), to(#000) );
    background: -o-linear-gradient(transparent, #000);
    background: linear-gradient(transparent, #000);
}

    footer .links {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        gap: 1rem;
    }

    footer .copyright {
        margin-top: 1.5rem;
        font-size: 1.3rem;
        color: var(--paragraph-color);
    }

        footer .copyright i {
            color: var(--main-color);
        }
