<!DOCTYPE html>
<html style="margin-top:5%">
<body style="color:white">
    <h1 style="margin-left:45%">About Us</h1>
    <ul style="margin-left:44%">
        <li>
            <strong>Gamze Güzle OBUZ</strong>
            <br />
            <a href="https://www.linkedin.com/in/gamze-guzle/" target="_blank" style="color:aquamarine">LinkedIn</a>
            <br />
            <a href="https://github.com/gamzeguzleobuz" target="_blank" style="color:aquamarine">GitHub</a>
        </li>
        <li>
            <strong>Sinan TAŞYAPAR</strong>
            <br />
            <a href="https://www.linkedin.com/in/sinantsypr/" target="_blank" style="color:aquamarine">LinkedIn</a>
            <br />
            <a href="https://github.com/SinanTsypr" target="_blank" style="color:aquamarine">GitHub</a>
        </li>
        <li>
            <strong>Yasin GÜRBÜZ</strong>
            <br />
            <a href="https://www.linkedin.com/in/yasin-gurbuz-27739115b/" target="_blank" style="color:aquamarine">LinkedIn</a>
            <br />
            <a href="https://github.com/gurbuzysn" target="_blank" style="color:aquamarine">GitHub</a>
        </li>
        <li>
            <strong>Batuhan HAYBEK</strong>
            <br />
            <a href="https://www.linkedin.com/in/batuhan-haybek/" target="_blank" style="color:aquamarine">LinkedIn</a>
            <br />
            <a href="https://github.com/Ewdod" target="_blank" style="color:aquamarine">GitHub</a>
        </li>
    </ul>
</body>
</html>